@model LibApp.Models.Book

@{ 
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bookfromBag = ViewBag.Book1 as Book;
    var bookfromData = ViewData["Book2"] as Book;
}

<h2>@bookfromBag.Name</h2>
<h2>@bookfromData.Name</h2>